<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.kit.iti.algo2.pse2013.walkaround.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.NoTitleBar" >

        <activity
            android:name="edu.kit.iti.algo2.pse2013.walkaround.client.controller.activity.BootActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name="edu.kit.iti.algo2.pse2013.walkaround.client.controller.activity.WalkaRound"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
        
        
        <activity
            android:name="edu.kit.iti.algo2.pse2013.walkaround.client.controller.activity.Option"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
        </activity>
    </application>


</manifest>