<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.kit.iti.algo2.pse2013.walkaround.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="edu.kit.iti.algo2.pse2013.walkaround.client.view.map.MapView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            
            <fragment
                android:id="@+id/Fragment"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                class="edu.kit.iti.algo2.pse2013.walkaround.client.view.pullup.pullUpView" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.kit.iti.algo2.pse2013.walkaround.client.view.option.OptionView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.kit.iti.algo2.pse2013.walkaround.client.view.pullup.PullUpView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for WalkAround"
        android:targetPackage="edu.kit.iti.algo2.pse2013.walkaround.client.view.test" />

</manifest>